In [10]:
#pandas ia a python library used for working with data sets
import pandas as pd

In [40]:
#Data Collection and Processing

In [11]:
#Data is collected from "Salary_Data.csv" file
#Reading "Salary_Data.csv" file using pandas function "read_csv" and that is assigned to a variable name "dataset"
dataset=pd.read_csv("Salary_Data.csv")

In [13]:
#Data is processed using variable name "dataset"
#Above assigned variable name "dataset" is called 
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [41]:
#Input/Output Split

In [14]:
#Input Split
#Here we are splitting input column and assigning to a variable name "independent" and calling the independent variable to check the result
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [15]:
#Output Split
#Here we are splitting output column and assigning to a variable name "dependent" and calling the dependent variable to check the result
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [42]:
#Train and Test split

In [21]:
#Here we are importing train_test_split class from sklearn.model_selection folder to split train set and test set from the input file 
from sklearn.model_selection import train_test_split
#Here we assign train_test_split function to 4 variables i.e.,(input train,input test,output train,output test)
#train_test_split is a parameterised function so we pass input,output variable with test_size i.e.,(how much percent of input data should be considered for testing)and random_state value 0 is assigned to get same value everytime when we run the code.
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [43]:
#Model Creation

In [22]:
#Here we are importing LinearRegression class from sklearn.linear_model folder to perform linear regression model
from sklearn.linear_model import LinearRegression

In [23]:
#We assign LinearRegression class to a variable name "regressor", so that all the function inside the class is assigned to this variable.
regressor=LinearRegression()

In [24]:
#We pass input train and output train value as an input parameters to "fit" function
regressor.fit(X_train,y_train)

LinearRegression()

In [25]:
#Here in Linear regression we use y=wx+c formula to get output, so here "coef_" function calculates the weight value and i.e assigned to a variable name "weight". 
weight=regressor.coef_
#Assigned variable is called 
weight

array([[9360.26128619]])

In [26]:
#Here in Linear regression we use y=wx+c formula to get output, so here "intercept_" function calculates the origin value and i.e assigned to a variable name "bais". 
bais=regressor.intercept_
#Assigned variable is called 
bais

array([26777.3913412])

In [44]:
#Test set

In [28]:
#Here we use "predict" function to predict the value for the created model with the input test value and i.e passed as an input parameter to the predict function.
y_pred=regressor.predict(X_test)

In [45]:
#Evaluation Metrics

In [29]:
#Import "re_score" class from sklearn.metrics folder for evaluating the predicted model is good or poor
from sklearn.metrics import r2_score
#Here we pass actual output value and predicted output value as a input parameter to r2_score function to evaluate the model works good or poor
r_score=r2_score(y_test,y_pred)

In [30]:
#Here the assigned variable r_score is called to check the model is good or poor. If result is near to 1 then GOOD model, if it is near to 0 then POOR model. 
r_score

0.9740993407213511

In [46]:
#Save the best model

In [31]:
#Pickle is the standard way of serializing objects in Python. You can use the pickle operation to serialize your machine learning algorithms and save the serialized format to a file. Later you can load this file to deserialize your model and use it to make new predictions.
import pickle
#Creating new final file name and i.e assigned to a variable "filename"
filename="FinalModel_SLR.sav"
#dump function used to write("wb") the output data into the file. 
pickle.dump(regressor,open(filename,'wb'))

In [32]:
#In above step we have writted the output data into the file and that file is loaded and assigned to a variable "load_model" in a read byte mode(rb) 
load_model=pickle.load(open("FinalModel_SLR.sav",'rb'))
#We can give input data to predict the output value using predict function 
result=load_model.predict([[15]])

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [33]:
#Above assigned variable is called to view the result
result

array([[167181.3106341]])

In [39]:
#We have used user input function to enter the input value
result=load_model.predict([[int(input("Enter Years of Experience: "))]])
result

Enter Years of Experience: 20

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[213982.61706507]])